@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
    --white: #ffffff;
    --black: #1c2b2d;
    --light-blue: #005490;
    --light-blue-border: #5cb5f4;
    --color-secondary: #4b9ff8;
    --grey: #eee;
    --dark-grey: #989595;
    --green: #32cd32;
    --color-navheader: #535151;
    --color-olivegreen: #6f633e;
    --color-navy: #001a33;
    --semi-transparent-dark-blue: rgba(1, 54, 95, 0.9);
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--color-navy);
    height: 100vh;
    margin: 0;
    /* padding-top: 2rem; */
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.meeting-container {
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--white);
    border: 2px solid #f2f2f2;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

nav {
    background: var(--color-white);
    box-shadow: 0px 5px 5px var(--dark-grey);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-main {
    max-width: 95%;
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.nav-header img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--color-navy);
    box-shadow: 1px 1px 1px var(--dark-grey);
    /* margin-right: 0.5rem; */
}

.nav-header span {
    color: var(--color-navy);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
}

.menu {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
    font-size: 1rem;
}

a {
    /* color: rgb(19, 98, 245); */
    text-decoration: none;
}

.menu a {
    color: var(--color-navy);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
}

.menu a:hover {
    font-weight: bolder;
    background: var(--color-secondary);
    color: var(--white);
}


table {
    width: 100%;
    border-collapse: separate;
    border: 1px solid #ccc;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    /* For rounded corners with borders */
}

thead {
    background-color: #f2f2f2;
    color: navy;
}

thead th {
    padding: 10px;
    border: 1px solid #ddd;
    /* Add border to th elements */
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-blue {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(19, 98, 245);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-blue:hover {
    background-color: rgb(15, 78, 196);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}